body{
    background-color: black;
    /*
    background-image: url(images/BLACKGIF.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    */
}

h1{
    color: rgb(144, 144, 144);
    font-family:  "Lucida handwriting", "cursive";
}

h2{
    color: rgb(144, 144, 144);
    font-family: "Lucida handwriting", "cursive";
}

h3{
    color: rgb(144, 144, 144);
    font-family: "Lucida handwriting", "cursive";
}

p{
    color: rgb(144, 144, 144);
    font-family: "lucida console", "courier new";
    font-size: 14px;
    /*border-style:groove;*/
}

label{
    color: rgb(144, 144, 144);
    font-family: "lucida console", "courier new";
}

button{
    color: black;
    background-color: rgb(144, 144, 144);
    font-family: "lucida console", "courier new";
    border-radius: 10px;
    font-size: 30px;
    border: none;
    gap: 10px;
}

input{
    color: black;
    background-color: rgb(144, 144, 144);
    font-family: "lucida console", "courier new";
}

textarea{
    color: black;
    background-color: black;
    font-family: "lucida console", "courier new";
}

#profileLocation{
    position: relative;
    top: -100px;
}
#AboutBox{
    width: 1000px;
    height: 200px;
    background-color: black;
    position: relative;
    top: -318px;
    left: 250px;
    /*
    WHEN IT COMES TO POSITION:
    top(down)
    left (right)
    write negitives to go the opposite way
    */
}
#AboutMeLabel{
    position: relative;
    top: -195px;
    left: 680px;
}

#TitlePosition{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    position: relative;
    top: -5px;
    left: 140px;
    animation: typing 1s steps(12,end) forwards, blink 0.7s step-end infinite;
}

#underTitlePosition{
    position: relative;
    width: 500px;
    top: -25px;
    left: 140px;
}

/*Animation to give title a sliding typing effect*/
@keyframes typing{
    from {
        width: 0;
    }
    to{
        width: 210px;  /*500 pixels needed to display my title*/
    }
}
/*Give the effect of typing on a document*/
@keyframes blink{
    0%, 99% {
        border-color: rgb(144, 144, 144);
    }
    50% {
        border-color: transparent;
    }
}


/*
animations for shapes or text
@keyframes slideLeft{
    to{
        transform: translateX(100%)
    }
}
@keyframes slideRight{
    from{
        transform: translateX(100%)
    }
}
*/

#FORMLOCATION{
    width: 4000px;
    height: 300px;
    position:relative;
    top: 0px;
    left: 0px;
    /*Subject to change later*/
}
#ButtonLocations{
    position: relative;
    top: -400px;
    left: 1100px;
}